<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/estilo.css">
    <title>Pagina Livros</title>
</head>
<body>
   <h1>BUSCADOR DE LIVROS</h1>
   <label>Titulo</label><input type="text" class="titulosLivros" name="titulo" ><input type="radio" name="campo-pesquisa" value="titulo">
   <label>Ano</label><input type="text" class="anoLivros" name="ano" ><input type="radio" name="campo-pesquisa" value="ano">
   <button type="button">Buscar</button>

</body>
</html>