body {
    font-family: Arial, sans-serif;
    margin: 10px;
    padding: 0;
    background-color: #f2f7f6 ; 
    display: flex; 
    justify-content: center; 
    align-items: center; 
    height: 100vh; 
}

.container {
    text-align: center;
    margin-top: 20px; 
}

h1 {
    text-align: center;
    color: #333;
    position: fixed; 
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    background-color: #1fc5ce; 
    width: 100%; 
    padding: 10px 0; 
}
input[type="text"] {
    width: 200px;
    padding: 5px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
